
<script src="http://knockoutjs.com/js/knockout-2.1.0.js"></script>
<script>

if (!window.console) {
    window.console = {
        log: function () { }
    };
}

$(document).ready(function() {
    main_dashboard_init();
  });

function main_dashboard_init() {
  var model = PBFViewModel();

  $.get('/dashboard/pbf/api/main', function(data) {
      console.log(data);
      model.load(data);
    }, 'json');
}



function PBFViewModel() {
  this.facilities = ko.observableArray();
  this.stats = ko.observableArray();

  this.load = function(data) {
    this.facilities($.map(data.facilities, function(fac) {
        return new FacilityModel(fac);
      }));
    this.stats($.map(data.stats, function(st) {
        return new MonthlyStatsModel(st);
      }));
  };
}

function FacilityModel(data) {
  this.id = ko.observable(data.id);
  this.name = ko.observable(data.name);
  this.lat = ko.observable(data.lat);
  this.lon = ko.observable(data.lon);
}

function MonthlyStatsModel(data) {
  
}

</script>

<div class="row-fluid">
    <div class="span4">
        <h2>Feedback by facility</h2>
        <p>
            {% include "dashboard/_map.html" %}
        </p>
    </div>

    <div class="span4">
        <h2>Feedback by category</h2>
        <p>
            {% include "dashboard/_bar_chart.html" %}
        </p>
    </div>

    <div class="span4">
        <h2>Based on reports</h2>
        <p>
            {% include "dashboard/_pie_chart.html" %}
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-info" id="1"> <!-- Unique id should be pk; allows us to use bootstrap-alert.js -->
            <p>
                Alert content
            </p>
            <span class="pull-right">
                <a class="btn btn-primary"><i class="icon-white icon-th-list"></i> Alert Details</a>
                <a class="btn btn-danger" data-dismiss="alert" data-target="#1"><i class="icon-white icon-remove"></i> Dismiss</a>
            </span>
        </div>
        <div class="alert alert-info" id="2">
            <p>
                Alert content
            </p>
            <span class="pull-right">
                <a class="btn btn-primary"><i class="icon-white icon-th-list"></i> Alert Details</a>
                <a class="btn btn-danger" data-dismiss="alert" data-target="#2"><i class="icon-white icon-remove"></i> Dismiss</a>
            </span>
        </div>
    </div>
</div>
