<div class="row-fluid">
    <div class="span4">
        <h2>Feedback by facility</h2>
        <p>
            {% include "dashboard/_map.html" %}
        </p>
    </div>

    <div class="span4">
        <h2>Feedback by category</h2>
        <p>
            {% include "dashboard/_bar_chart.html" %}
        </p>
    </div>

    <div class="span4">
        <h2>Based on reports</h2>
        <p>
            {% include "dashboard/_pie_chart.html" %}
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-info">
            <p>
                Alert content
            </p>
            <div class="pull-right">
                <a class="btn btn-primary"><i class="icon-white icon-th-list"></i> Alert Details</a>
                <a class="btn btn-danger"><i class="icon-white icon-remove"></i> Dismiss</a>
            </div>
        </div>
        <div class="alert alert-info">
            <p>
                Alert content
            </p>
            <div class="pull-right">
                <a class="btn btn-primary"><i class="icon-white icon-th-list"></i> Alert Details</a>
                <a class="btn btn-danger"><i class="icon-white icon-remove"></i> Dismiss</a>
            </div>
        </div>
    </div>
</div>