
<script src="http://knockoutjs.com/js/knockout-2.1.0.js"></script>
<script>

if (!window.console) {
    window.console = {
        log: function () { }
    };
}

$(document).ready(function() {
    main_dashboard_init();
  });

function main_dashboard_init() {
  var model = new PBFViewModel();
  ko.applyBindings(model);

  $.get('/dashboard/pbf/api/main', function(data) {
      console.log(data);
      model.load(data);
    }, 'json');
}


function PBFViewModel() {
  this.stats = ko.observableArray();
  this.active_month = ko.observable();

  this.load = function(data) {
    this.stats($.map(data.stats, function(st) {
        return new MonthlyStatsModel(st);
      }));
    this.active_month(this.stats.slice(-1)[0]);
  };

  this.prevmonth = function() {
    this.month_incr(-1);
  }

  this.nextmonth = function() {
    this.month_incr(1);
  }
 
  this.month_incr = function(k) {
    var i = this.stats.indexOf(this.active_month());
    i += k;
    if (i >= this.stats().length) {
      i = this.stats().length - 1;
    } else if (i <= 0) {
      i = 0;
    }
    this.active_month(this.stats()[i]);
  }
}

function MonthlyStatsModel(data) {
  this.total = ko.observable(data.total);
  this.month_label = ko.observable(data.month);

  this.data = data;
}



ko.bindingHandlers.satisfaction_piechart = {
    init: function(element, valueAccessor, allBindingsAccessor, viewModel) {
      var options = {
        vAxis: {
          textPosition: 'in'
        },
        chartArea: {
          top: 10,
          left: 0,
          width: '100%'
        }
      };

      this.wrapper = new google.visualization.ChartWrapper({
        chartType: 'PieChart',
        options: options,
        containerId: $(element).attr('id')
      });

      google.load('visualization', '1', { packages: ['corechart'] });
      google.setOnLoadCallback(function() {
          valueAccessor(valueAccessor());
        });
    },
    update: function(element, valueAccessor, allBindingsAccessor, viewModel) {
      var active = ko.utils.unwrapObservable(valueAccessor());
      if (!active) {
        return;
      }

      var dataTable = google.visualization.arrayToDataTable([
        ['Category', ''],
        ['Satisfied', active.data.satisfaction.True],
        ['Unsatisfied', active.data.satisfaction.False],
      ]);
      this.wrapper.setDataTable(dataTable);
      this.wrapper.draw();  
    }
};

</script>

<div class="row-fluid">
    <div class="span4">
        <h2>Feedback by facility</h2>
        <p>
            {% include "dashboard/_map.html" %}
        </p>
    </div>

    <div class="span4">
        <h2>Feedback by category</h2>
        <p>
            {% include "dashboard/_bar_chart.html" %}
        </p>
    </div>

    <div class="span4">
        <h2>Based on <span data-bind="text: active_month() ? active_month().total() : ''"></span> reports</h2>
        <p>
            {% include "dashboard/_pie_chart.html" %}
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-info" id="1"> <!-- Unique id should be pk; allows us to use bootstrap-alert.js -->
            <p>
                Alert content
            </p>
            <span class="pull-right">
                <a class="btn btn-primary"><i class="icon-white icon-th-list"></i> Alert Details</a>
                <a class="btn btn-danger" data-dismiss="alert" data-target="#1"><i class="icon-white icon-remove"></i> Dismiss</a>
            </span>
        </div>
        <div class="alert alert-info" id="2">
            <p>
                Alert content
            </p>
            <span class="pull-right">
                <a class="btn btn-primary"><i class="icon-white icon-th-list"></i> Alert Details</a>
                <a class="btn btn-danger" data-dismiss="alert" data-target="#2"><i class="icon-white icon-remove"></i> Dismiss</a>
            </span>
        </div>
    </div>
</div>
