{% extends "aremind/layout.html" %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
{% endblock stylesheets %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/js/bootstrap-alert.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/knockout-2.1.0.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/charts.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/maps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard/general.js"></script>
{% endblock javascripts %}

{% block content %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                {% block dashboard_navigation %}
                {% endblock dashboard_navigation %}
            </div>
        </div>
    </div>
{% endblock content %}
