{% load url from future %}
{% for notif in notifs %}
    <div class="alert alert-info" id="notif-{{ notif.id }}">  <!-- Unique id should be pk; allows us to use bootstrap-alert.js -->
        <p>
            <span id="msg">{{ notif.text }}</span>
            <br />
            {% if notif.url %}<span id="detail">[<a id="url" href="{{ notif.url }}">details</a>]</span>{% endif %}
        </p>
        <span class="pull-right">
            <a class="btn btn-primary dismiss" data-dismiss="alert" data-target="#notif-{{ notif.id }}" href="{% url 'fadama_dismiss_alert' notif.id %}">
                Dismiss <i class="icon-white icon-remove"></i>
            </a>
        </span>
    </div>
{% endfor %}
