{% extends "adherence/base.html" %}
{% load pagination_tags sorting_tags %}

{% block content %}
<div class='module'>
    <h2>Reminder Schedules</h2>
    {% autosort reminders %}
    {% autopaginate reminders 15 %}
    <p><a class='button add' title='Add Reminder Schedule' href="{% url adherence-create-reminder-schedule %}" >Add reminder schedule...</a></p>
    <table class='sortable pagination'>
        <thead>
            <tr>
                <th>{% anchor id ID %}</th>
                <th>{% anchor frequency Frequency %}</th>
                <th>{% anchor time_of_day Time %}</th>
                <th># of Recipients</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reminder in reminders %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ reminder.id }}</td>
                    <td>{{ reminder.formatted_frequency }}</td>
                    <td>{{ reminder.formatted_time }}</td>
                    <td>{{ reminder.recipients.count }}</td>
                    <td class='actions'>
                        <a class='button' title='Edit' href='{% url adherence-edit-reminder-schedule reminder.pk %}'><span class='ui-icon ui-icon-pencil'></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if paginator.count > paginator.per_page %}
            <tr>
                <td colspan='2'>
                    {% paginate %}
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
</div>
{% endblock %}
