{% extends "adherence/base.html" %}
{% load pagination_tags sorting_tags %}

{% block right %}
<h1>Pills Missed (Self-reported)</h1>
<div class="module">
{% autosort pills_missed %}
{% autopaginate pills_missed 20 %}
<table class="pagination sortable adherence-report">
<thead>
  <tr>
    <th>ID</th>
    <th>{% anchor patient__subject_number "Patient ID"%}</th>
    <th>{% anchor date "Date" %}</th>
    <th>{% anchor num_missed "Number missed" %}</th>
    <th>{% anchor source "Source" %}</th>
  </tr>
</thead>
<tbody>
{% for result in pills_missed %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{ result.pk }}</td>
  <td>{{ result.patient.subject_number }}</td>
  <td>{{ result.date }}</td>
  <td>{{ result.num_missed }}</td>
  <td>{{ result.get_source_display }}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
  <tr><td colspan="5">{% paginate %}</td>
</tfoot>
</table>
</div>
{% endblock %}
