{% extends "adherence/base.html" %}
{% load pagination_tags sorting_tags humanize %}

{% block right %}
<h1>Patients by last Wisepill report time</h1>
<div class="module">
{% autosort patients %}
{% autopaginate patients 20 %}
<table class="pagination sortable adherence-report">
<thead>
  <tr>
    <th>ID</th>
    <th>{% anchor subject_number "Patient ID"%}</th>
    <th>{% anchor wisepill_msisdn "Wisepill MSISDN" %}</th>
    <th>{% anchor last_report "Time of last report" %}</th>
  </tr>
</thead>
<tbody>
{% for result in patients %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{ result.pk }}</td>
  <td>{{ result.subject_number }}</td>
  <td>{{ result.wisepill_msisdn }}</td>
  <td>{{ result.last_report|naturalday }} </td>
</tr>
{% endfor %}
</tbody>
<tfoot>
  <tr><td colspan="5">{% paginate %}</td>
</tfoot>
</table>
</div>
{% endblock %}
