{% extends "adherence/base.html" %}
{% load pagination_tags sorting_tags %}

{% block right %}
<h1>Patients without a Wisepill report in the last 48 hours</h1>
<div class="module">
{% autosort notreporting %}
{% autopaginate notreporting 20 %}
<table class="pagination sortable adherence-report">
<thead>
  <tr>
    <th>ID</th>
    <th>{% anchor patient__subject_number "Patient ID"%}</th>
    <th>{% anchor patient__wisepill_msisdn "Wisepill MSISDN" %}</th>
    <th>Time of last report</th>
  </tr>
</thead>
<tbody>
{% for result in notreporting %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{ result.pk }}</td>
  <td>{{ result.subject_number }}</td>
  <td>{{ result.wisepill_msisdn }}</td>
  <td>{{ result.last_report }} </td>
</tr>
{% endfor %}
</tbody>
<tfoot>
  <tr><td colspan="5">{% paginate %}</td>
</tfoot>
</table>
</div>
{% endblock %}
