*.pyc
*.pydevproject
*.project
*.sqlite3
*.sqlite*
*.log.*
*.log
*.idea
localsettings.py
test_localsettings.py
static_files/
requirements/src/
projectFilesBackup/
*.pid
aremind/static/xforms
tropotest.py