*~
*.pyc
*.swp
*.pydevproject
*.project
*.sqlite3
*.sqlite*
*.log.*
*.log
*.idea
localsettings.py
test_localsettings.py
static_files/
requirements/src/
projectFilesBackup/
*.pid
aremind/static/xforms
build/
tropotest.py
smsforms_report.csv
media/
fadama.json
pbf.json
