[submodule "submodules/rapidsms-smsforms"]
	path = submodules/rapidsms-smsforms
	url = /opt/rapidsms-smsforms.git
[submodule "submodules/touchforms"]
	path = submodules/touchforms
	url = /opt/touchforms.git
[submodule "submodules/rapidsms-xforms"]
	path = submodules/rapidsms-xforms
	url = /opt/rapidsms-xforms.git
[submodule "submodules/formdesigner"]
	path = submodules/formdesigner
	url = ssh://wbnigeria@wbnigeria/opt/vellum.git
