[submodule "submodules/rapidsms-smsforms"]
	path = submodules/rapidsms-smsforms
	url = git://github.com/dimagi/rapidsms-smsforms.git
[submodule "submodules/touchforms"]
	path = submodules/touchforms
	url = git://github.com/dimagi/touchforms.git
[submodule "submodules\\rapidsms-xforms"]
	path = submodules\\rapidsms-xforms
	url = git://github.com/adewinter/rapidsms-xforms.git
