{% extends "patients/base.html" %}
{% load i18n pagination_tags sorting_tags %}

{% block title %}Pill History for Patient {{ patient.subject_number }}{% endblock %}

{% block content %}
<div class='module'>
    <h2>Pill History for Patient {{ patient.subject_number }}</h2>
    <p><a class='button add' title="Add a New Pill History Record" href="{% url patient-add-pill-history patient.pk %}" >Add a pill record...</a></p>
    {% autopaginate pills 20 %}
    <table class='sortable pagination'>
        <thead>
            <tr>
                <th>Date</th>
                <th>Pills Taken</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pill in pills %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ pill.date }}</td>
                    <td>{{ pill.num_pills }}</td>
                    <td class='actions'>
                        <a class='button' title="Edit Pill History" href="{% url patient-edit-pill-history patient.pk pill.pk %}"><span class='ui-icon ui-icon-pencil'></span></a>
                    </td>
                </tr>
            {% empty %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td colspan='3'>No pill history for {{ patient.subject_number }}.</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if paginator.count > paginator.per_page %}
            <tr>
                <td colspan='3'>
                    {% paginate %}
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
</div>
{% endblock %}
