{% extends "aremind/layout-split-2.html" %}
{% load pagination_tags sorting_tags humanize %}



{% block stylesheets %}
{{ block.super }}
    <style>
    .ui-datepicker-calendar {
        display: none;
        }

    #color-legend {
        display: inline-block;
        margin-left: 200px;
        vertical-align: middle;
    }
    </style>
{% endblock %}

{% block javascripts %}
{{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/forms.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}patients/js/patients.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var isSinglePatient = (parseInt( {{ patients|length }} ) === 1);

            if (isSinglePatient) {
                var daily_dose = parseInt( {{ daily_doses }} );
                var cells = $('.wisepill_day_count');
                cells.each(function (idx) {
                    var cell = $(this);
                    var count = parseInt(cell.text());
                    if(count > daily_dose) {
                        cell.css('background-color', 'yellow');
                    } else if (count === 0) {
                        cell.css('background-color', '#FF9900');
                    }

                });

                var cells = $('.weekly_count_value');
                cells.each(function (d) {
                    var cell = $(this);
                    var text = cell.text();
                    var count = parseInt(text);
                    if (count && count > 0) {
                        cell.css('background-color', 'yellow');
                    } else if (text && text.toLowerCase() === 'no response') {
                        cell.css('background-color', '#FF9900');
                    }
                });
//
                $('#yellow_cell').css('background-color', 'yellow');
                $('#red_cell').css('background-color', '#FF9900');

                var legend_table = $('#color-legend');
                legend_table.find('th').css('border','1px solid #DDD');
                legend_table.find('tbody').css('border', '1px solid #DDD');
            }
        });
    </script>
{% endblock %}

    {% block content %}
        <div class="module">
            <h1>Detailed Usage for Patient: {{ patients.0.subject_number }}</h1>
            <form class="date-form buttons" action="" method="get">
                <div class='form-action'>
                    {{ report_form }}
                    <input type='submit' value="Change Report Date" />
                    <table id="color-legend" class="adherence-report sortable">
                         <thead>
                             <th>Color</th>
                             <th>Meaning</th>
                         </thead>
                         <tbody>
                             <tr class='odd'>
                                 <td id="yellow_cell">Yellow</td>
                                 <td>A higher than expected value</td>
                             </tr>
                             <tr class='even'>
                                 <td id="red_cell">Red</td>
                                 <td>No activity or response</td>
                             </tr>
                         </tbody>
                     </table>
                </div>
            </form>

        </div>
        {{ block.super }}

{#        <div class="module">#}
{##}
{#        </div>#}
    {% endblock %}

    {% block left %}
        <div class="module">
            <h2>Wisepill Activity by day (<b>{{ report_month }}</b>)</h2>
            <table class="pagination sortable adherence-report" style="margin:auto">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in wp_usage_rows %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ row.0 }}</td>
                            <td class="wisepill_day_count">{{ row.1 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                  <tr><td colspan="5">{% paginate %}</td>
                </tfoot>
            </table>
        </div>
    {% endblock %}

    {% block right %}
        <div class="module">
            <h2>Pills Missed by weekly pill count: (<b>{{ report_month }}</b>)</h2>
            <table id="pill_count_messages" class="pagination sortable adherence-report" style="margin:auto">
                <thead>
                    <tr>
                        <th colspan=3 class="table_superheader">Pill Count Messages</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Response</th>
                        <th>Message Received Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for patient, weeks in pm_weeks.items %}
                    {% for week in weeks %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ week.week_start|date:"j-M" }} to {{ week.week_end|date:"j-M" }}</td>
                            <td class="weekly_count_value">{{ week.pills_missed }}</td>
                            <td>{{ week.received_on }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
                <tfoot>
                  <tr><td colspan="5"></td>
                </tfoot>
            </table>
            <br />
            <table id="pill_count_aggregates" class="pagination" style="margin: auto">
                <thead>
                    <tr>
                        <th colspan=4 class="table_superheader">Pills Missed Per Week</th>
                    </tr>
                    <tr>
                        {% for week in pm_weekly %}
                            <th>{{ week.week_start|date:"j-M" }} to {{ week.week_end|date:"j-M" }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% cycle 'odd' 'even' %}">
                        {% for week in pm_weekly %}
                            <td class="weekly_count_value">{{ week.count }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>


            <br />
            <br />
            <h2>Patient Messages in: <b>{{ report_month }}</b></h2>
            {% autopaginate pat_messages 20 %}
            <table id="patient_messages" class='sortable pagination'>
                <thead>
                    <tr>
                        <th>Text</th>
                        <th>Date</th>
                        <th>Direction</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in pat_messages %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td class="patient_message m_text">{{ message.text }}</td>
                            <td class="patient_message m_date">{{ message.date }}</td>
                            <td class="patient_message m_direction">{{ message.direction }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if paginator.count > paginator.per_page %}
                    <tr>
                        <td colspan='3'>
                            {% paginate %}
                        </td>
                    </tr>
                    {% endif %}
                </tfoot>
            </table>
        </div>
    {% endblock %}




