{% extends "patients/base.html" %}
{% load i18n pagination_tags sorting_tags %}

{% block title %}Patient Listing{% endblock %}

{% block content %}
<div class='module'>
    <h2>Patient Listing</h2>
    <p><a class='button add' title='Add a New Patient' href="{% url patient-create %}" >Add a patient...</a></p>
    {% autosort patients %}
    {% autopaginate patients 20 %}
    <table class='sortable pagination'>
        <thead>
            <tr>
                <th>{% anchor subject_number "Subject ID" %}</th>
                <th>{% anchor date_enrolled "Date Enrolled" %}</th>
                <th>{% anchor next_visit "Next Appointment" %}</th>
                <th>{% anchor reminder_count "Medicine Reminders" %}</th>
                <th>{% anchor feed_count "Feed Subscriptions" %}</th>
                <th>{% anchor daily_doses "Daily Doses" %}</th>
                <th>{% anchor adherence "Adherence" %}</th>
                <th>{% anchor message_count "Wisepill messages" %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ patient.subject_number }}</td>
                    <td>{{ patient.date_enrolled }}</td>
                    <td>{{ patient.next_visit }}</td>
                    <td>{{ patient.reminder_count }}</td>
                    <td>{{ patient.feed_count }}</td>
                    <td>{{ patient.daily_doses }}</td>
                    <td>{{ patient.adherence }}</td>
                    <td><a href='{% url wisepill-list-messages-for-patient patient.pk %}'>{{ patient.message_count }}</a>
                      (<a href='{% url wisepill-fake-message patient.pk %}'>fake</a>)
</td>
                    <td class='actions'>
                        <a class='button' title="Edit Patient Info" href='{% url patient-detail patient.pk %}'><span class='ui-icon ui-icon-pencil'></span></a>   
                        <a class='button' title="Send One Time Reminder" href='{% url patient-onetime-message patient.pk %}'><span class='ui-icon ui-icon-mail-closed'></span></a>
                        <a class='button' title="View Patient Pill History" href='{% url patient-report patient.pk %}'><span class='ui-icon ui-icon-note'></span></a>
                        <a class='button' title="Start Adherence Report Tree (for testing only)" href='{% url patient-start-adherence-tree patient.pk %}'><span class='ui-icon ui-icon-circle-triangle-e'></span></a>
                        <a class='button' title='Start Adherence Report Voice Survey (IVR) (for testing only)' href='{% url patient-start-ivr patient.pk %}'><span class='ui-icon ui-icon-arrowthick-2-e-w'></span></a>
                    </td>
                </tr>
            {% empty %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td colspan='9'>Currently no patients enrolled.</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if paginator.count > paginator.per_page %}
            <tr>
                <td colspan='9'>
                    {% paginate %}
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
</div>
{% endblock %}
