{% extends "dashboard/pbf/base.html" %}
{% load url from future %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
    if (!window.console) {
        window.console = {
            log: function () { }
        };
    }

    $(document).ready(function() {
        main_dashboard_init();
    });

    DETAIL_URL = '{% url 'pbf_reports' %}';

    function main_dashboard_init() {
        model = new DashboardViewModel();
        ko.applyBindings(model);

        dashboard_ajax(model, '/dashboard/pbf/api/main');
    }
</script>
{% endblock javascripts %}

{% block content %}
    {{ block.super }}

    <div class="row-fluid">
        <div class="span4">
            <h2>Feedback by facility</h2>
            <p>
                {% include "dashboard/_map.html" %}
            </p>
        </div>

        <div class="span4">
            <h2>Feedback by category</h2>
            <p>
                {% include "dashboard/_bar_chart.html" with dashboard="pbf" %}
            </p>
        </div>

        <div class="span4">
            <h2>
              <span data-bind="if: active_month()">
                <span data-bind="if: active_month().total()">Based on <span data-bind="text: active_month().total()"></span> reports</span>
                <span data-bind="ifnot: active_month().total()">No reports this month</span>
              </span>
            </h2>
            <p>
                {% include "dashboard/_pie_chart.html" %}
            </p>
        </div>
    </div>

    <div id="alertpane" class="row-fluid scrollable">
        <div class="span12">
            <h2>Your Alerts</h2>
            {% load dashboard %}
            {% alerts request 3 %}
        </div>
    </div>

{% endblock content %}
