{% extends "dashboard/pbf/base.html" %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
    if (!window.console) {
        window.console = {
            log: function () { }
        };
    }

    $(document).ready(function() {
        var model = new PBFDetailViewModel();
        ko.applyBindings(model);

        // Attach an event listener to map div
        // Specifically, this solves the problem when the maps container
        // isnt displayed, so the map needs to be alerted to the fact the 
        // container has shown up
        $('.map').bind('showmap', function(event) {
            $(this).parents('div[data-bind].row-fluid').show();
            google.maps.event.trigger(map, 'resize');

            // Have it run the update function
            model.month_incr(0);
        });
    });
</script>
{% endblock javascripts %}

{% block content %}
    {{ block.super }}

    <div class="row-fluid">
        <table class="date-control" style="float: right;">
            <tr>
                <td style="width: 4em; vertical-align: top; text-align: left;">
                    <a href="#" data-bind="click: prevmonth, style: { color: monthly().indexOf(active_month()) == 0 ? '#888' : '' }">Prev</a>
                </td>
                <td class="month" style="width: 8em; vertical-align: top; text-align: center;">
                    <p data-bind="text: active_month() ? active_month().month_label() : ''"></p>
                </td>
                <td style="width: 4em; vertical-align: top; text-align: right;">
                    <a href="#" data-bind="click: nextmonth, style: { color: monthly().indexOf(active_month()) == monthly().length - 1 ? '#888' : '' }">Next</a>
                </td>
            </tr>
        </table>

        <div class="span8">
            <form id="detail-filter" class="form-inline filter-form">
                <label>Feedback on</label>
                <select data-bind="value: active_metric" id="feedback">
                    <option value="all">All</option>
                    <option value="satisf">Overall Satisfaction</option>
                    <option value="wait">Waiting Time</option>
                    <option value="clean">Cleanliness &amp; Hygiene</option>
                    <option value="friendly">Staff Friendliness</option>
                    <option value="drugavail">Drug Availability</option>
                    <option value="pricedisp">Prices Displayed</option>
                </select>
                <label>in</label>
                <select data-bind="options: facilities, value: active_facility, optionsText: 'name'" id="location">
                </select>
            </form>
        </div>
    </div>

    <div class="row-fluid" data-bind="visible: active_metric() != 'all'">
        <div class="span8">
            <h3>Reports by Month</h3>
            <p>
                <div id="multi-month-chart" data-bind="pbf_historical_chart: active_month" class="chart"></div>
            </p>
        </div>
        <div class="span4">
            <h3>Patients reported&hellip;</h3>
            <p>
                <div id="multi-month-chart" data-bind="pbf_current_chart: active_month" class="chart"></div>
            </p>
        </div>
    </div>

    <div class="row-fluid" data-bind="visible: displayMap()">
        <div class="span12">
            {% include "dashboard/_map.html" %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <span class="large">Detailed Reports</span>
            {% include "dashboard/_table_filter.html" %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table id="reports-table" class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Report #</th>
                        <th style="width: 12em;">Site</th>
                        <th>Date &amp; Time</th>
                        <th data-bind="visible: is_metric_active('satisf')">Patient Satisfied</th>
                        <th data-bind="visible: is_metric_active('wait')">Waiting Time</th>
                        <th data-bind="visible: is_metric_active('clean')">Clean Clinic</th>
                        <th data-bind="visible: is_metric_active('friendly')">Staff Friendly</th>
                        <th data-bind="visible: is_metric_active('drugavail')">Drugs Available</th>
                        <th data-bind="visible: is_metric_active('pricedisp')">Prices Displayed</th>
			<th>Free-form message</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: active_month() ? active_month().logs() : []">
                    <tr>
                        <td data-bind="text: id"></td>
                        <td data-bind="text: site"></td>
                        <td data-bind="text: date"></td>
                        <td data-bind="yn: satisfied, visible: $root.is_metric_active('satisf')"></td>
                        <td data-bind="text: disp_wait, visible: $root.is_metric_active('wait')"></td>
                        <td data-bind="yn: cleanliness, visible: $root.is_metric_active('clean')"></td>
                        <td data-bind="yn: friendliness, visible: $root.is_metric_active('friendly')"></td>
                        <td data-bind="yn: drugs_avail, visible: $root.is_metric_active('drugavail')"></td>
                        <td data-bind="yn: price_display, visible: $root.is_metric_active('pricedisp')"></td>
			<td data-bind="text: message"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
