{% extends "aremind/layout.html" %}
{% load i18n %}

{% block title %}{% trans 'Password Change' %}{% endblock %}

{% block content %}
    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form action="" method="post" >
        {% csrf_token %}
        <table>
            {{ form }} 
            <tr><td>{% if not set_password %}<a href="{% url auth_password_reset %}">{% trans "Forgot your password?" %}</a>{% else %}&nbsp;{% endif %}</td><td><button type="submit" name="change">{% trans "Change my password" %}</button></td></tr>
        </table>
    </form>
{% endblock %}
