{% extends "aremind/layout.html" %}
{% load i18n %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
    {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
        <tr><td>&nbsp;</td><td><button type="submit" name="reset">{% trans "Change my password" %}</button></td></tr>
    </table>
    </form>
    {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
