from aremind.settings import *

# you should configure your database here before doing any real work.
# see: http://docs.djangoproject.com/en/dev/ref/settings/#databases

# for postgresql:
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "wbnigeria3",
        "USER": "postgres",
        "PASSWORD": "",
        "HOST": "localhost",
        "PORT": "5433"
    }
}
#
COUCH_SERVER_ROOT='localhost:5984'
COUCH_USERNAME='aremind'
COUCH_PASSWORD=''
COUCH_DATABASE_NAME='wbnigeria2'

COUCHDB_APPS=['auditcare', 'couchlog', 'formplayer']

####### Couch Forms & Couch DB Kit Settings #######
def get_server_url(server_root, username, password):
    if username and password:
        return "http://%(user)s:%(pass)s@%(server)s" % {"user": username,
                                                        "pass": password,
                                                        "server": server_root }
    else:
        return "http://%(server)s" % {"server": server_root }

COUCH_SERVER = get_server_url(COUCH_SERVER_ROOT, COUCH_USERNAME, COUCH_PASSWORD)

COUCH_DATABASE = "%(server)s/%(database)s" % {"server": COUCH_SERVER, "database": COUCH_DATABASE_NAME }

COUCHDB_DATABASES = [(app_label, COUCH_DATABASE) for app_label in COUCHDB_APPS]

TESTING_DATABASES= {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",#
        "NAME": "aremind.sqlite3",
    }
}

INSTALLED_BACKENDS = {
        "httptester": {
        "ENGINE": "threadless_router.backends.httptester.backend",
    },
}

# Change this to True if we should use https:// on URLs we send to tropo
# to retrieve audio files from us
USE_SSL_FOR_AUDIO_FILE_URLS = False

DJANGO_LOG_FILE = "aremind.django.log"
LOG_SIZE = 1000000
LOG_LEVEL   = "DEBUG"
LOG_FILE    = "aremind.router.log"
LOG_FORMAT  = "%(asctime)s - [%(levelname)s]\t[%(name)s]: %(message)s"
LOG_BACKUPS = 256 # number of logs to keep

COUNTRY_CODE = '1'

# MIDDLEWARE_CLASSES = list(MIDDLEWARE_CLASSES)
# MIDDLEWARE_CLASSES.insert(0, 'debug_toolbar.middleware.DebugToolbarMiddleware')
# INTERNAL_IPS = ('127.0.0.1',)
# INSTALLED_APPS = list(INSTALLED_APPS)
# INSTALLED_APPS.append('debug_toolbar')
# DEBUG_TOOLBAR_CONFIG = {'INTERCEPT_REDIRECTS': False}

# kill auditcare
#INSTALLED_APPS.remove('auditcare')
#MIDDLEWARE_CLASSES.remove('auditcare.middleware.AuditMiddleware')

BROKER_HOST = "localhost"
BROKER_PORT = 5672
BROKER_VHOST = "aremind_vhost"
BROKER_USER = "aremind"
BROKER_PASSWORD = "" # In local settings


DEBUG=TEMPLATE_DEBUG=True

BROADCAST_SENDER_BACKEND='httptester'


#The default backend to be used when creating new patient contacts
#on POST submission of patient data from their server
DEFAULT_BACKEND_NAME = "httptester"
# unless overridden, all outgoing messages will be sent using this backend
PRIMARY_BACKEND = 'httptester'
# if set, the message tester app will always use this backend
TEST_MESSAGER_BACKEND = 'httptester'

#STATICFILES_DIRS += ()

XFORMS_HOST = 'localhost:8000'