from aremind.settings import *

COUCH_SERVER_ROOT='localhost:5984'
COUCH_USERNAME='aremind'
COUCH_PASSWORD=''
COUCH_DATABASE_NAME='wbnigeria2'

####### Couch Forms & Couch DB Kit Settings #######
def get_server_url(server_root, username, password):
    if username and password:
        return "http://%(user)s:%(pass)s@%(server)s" % {"user": username,
                                                        "pass": password,
                                                        "server": server_root }
    else:
        return "http://%(server)s" % {"server": server_root }

COUCH_SERVER = get_server_url(COUCH_SERVER_ROOT, COUCH_USERNAME, COUCH_PASSWORD)

COUCH_DATABASE = "%(server)s/%(database)s" % {"server": COUCH_SERVER, "database": COUCH_DATABASE_NAME}

COUCHDB_DATABASES = [(app_label, COUCH_DATABASE) for app_label in COUCHDB_APPS]

XFORMS_POST_URL = "%s/_design/couchforms/_update/xform/" % COUCH_DATABASE

# Change this to True if we should use https:// on URLs we send to tropo
# to retrieve audio files from us
USE_SSL_FOR_AUDIO_FILE_URLS = False

DJANGO_LOG_FILE = "aremind.django.log"
LOG_SIZE = 1000000
LOG_LEVEL   = "DEBUG"
LOG_FILE    = "aremind.router.log"
LOG_FORMAT  = "%(asctime)s - [%(levelname)s]\t[%(name)s]: %(message)s"
LOG_BACKUPS = 256 # number of logs to keep

COUNTRY_CODE = '1'

# MIDDLEWARE_CLASSES = list(MIDDLEWARE_CLASSES)
# MIDDLEWARE_CLASSES.insert(0, 'debug_toolbar.middleware.DebugToolbarMiddleware')
# INTERNAL_IPS = ('127.0.0.1',)
# INSTALLED_APPS = list(INSTALLED_APPS)
# INSTALLED_APPS.append('debug_toolbar')
# DEBUG_TOOLBAR_CONFIG = {'INTERCEPT_REDIRECTS': False}

# Disable audit logging locally
if 'auditcare' in INSTALLED_APPS:
    INSTALLED_APPS.remove('auditcare')
if 'auditcare.middleware.AuditMiddleware' in MIDDLEWARE_CLASSES:
    MIDDLEWARE_CLASSES.remove('auditcare.middleware.AuditMiddleware')
if 'couchlog' in INSTALLED_APPS:
    INSTALLED_APPS.remove('couchlog')
AUDIT_DJANGO_USER = False
AUDIT_ALL_VIEWS = False
AUDIT_VIEWS = []
AUDIT_MODEL_SAVE = []

BROKER_HOST = "localhost"
BROKER_PORT = 5672
BROKER_VHOST = "aremind_vhost"
BROKER_USER = "aremind"
BROKER_PASSWORD = "" # In local settings

DEBUG = TEMPLATE_DEBUG = True

BROADCAST_SENDER_BACKEND = 'httptester'

#The default backend to be used when creating new patient contacts
#on POST submission of patient data from their server
DEFAULT_BACKEND_NAME = "httptester"
# unless overridden, all outgoing messages will be sent using this backend
PRIMARY_BACKEND = 'httptester'
# if set, the message tester app will always use this backend
TEST_MESSAGER_BACKEND = 'httptester'

XFORMS_HOST = 'localhost:8000'

# Fake data for dashboards
DASHBOARD_SAMPLE_DATA = {
    'pbf': os.path.join(PROJECT_PATH, 'pbf.json'),
    'fadama': os.path.join(PROJECT_PATH, 'fadama.json')
}
