from aremind.settings import *

# you should configure your database here before doing any real work.
# see: http://docs.djangoproject.com/en/dev/ref/settings/#databases

# for sqlite3:
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "db.sqlite3",
        "USER": "",
        "PASSWORD": "",
        "HOST": "",
# since we might hit the database from any thread during testing, the
# in-memory sqlite database isn't sufficient. it spawns a separate
# virtual database for each thread, and syncdb is only called for the
# first. this leads to confusing "no such table" errors. We create
# a named temporary instance instead.
# in addition, put the database in a ramdisk to speed test runs.
        "TEST_NAME": "/dev/shm/test_db.sqlite3",
    }
}

# for postgresql:
#DATABASES = {
#    "default": {
#        "ENGINE": "django.db.backends.postgresql_psycopg2",
#        "NAME": "aremind_legacy",
#        "USER": "",
#        "PASSWORD": "",
#        "HOST": "",
#    }
#}

INSTALLED_BACKENDS = {
    "httptester": {
        "ENGINE": "threadless_router.backends.httptester.backend",
    },
}

# south configuration
SKIP_SOUTH_TESTS = True

PRIMARY_BACKEND = ''
DEFAULT_BACKEND_NAME = 'test-backend'

ADMINS = (
    ('Development Team', 'aremind-dev@dimagi.com'),
)
MANAGERS = ADMINS

# Disable audit logging while running the test suite
if 'auditcare' in INSTALLED_APPS:
    INSTALLED_APPS.remove('auditcare')
if 'auditcare.middleware.AuditMiddleware' in MIDDLEWARE_CLASSES:
    MIDDLEWARE_CLASSES.remove('auditcare.middleware.AuditMiddleware')
if 'couchlog' in INSTALLED_APPS:
    INSTALLED_APPS.remove('couchlog')
AUDIT_DJANGO_USER = False
AUDIT_ALL_VIEWS = False
AUDIT_VIEWS = []
AUDIT_MODEL_SAVE = []

DASHBOARD_SAMPLE_DATA = {
    'pbf': os.path.join(PROJECT_PATH, 'pbf.json'),
    'fadama': os.path.join(PROJECT_PATH, 'fadama.json')
}
