{% extends "dashboard/base.html" %}
{% load url from future %}

{% block dashboard_navigation %}
    <ul class="nav">
        <li><a class="brand" href="{% url 'fadama_dashboard' %}">Farmer Feedback</a></li>
        <li><a href="{% url 'fadama_dashboard' %}">Home</a></li>
        <li><a href="{% url 'fadama_reports' %}">All Reports</a></li>
        <li><a href="#">Help</a></li>
    </ul>

    <ul class="nav pull-right">
        <li><img style="cursor: pointer;" alt="Print" src="{{ STATIC_URL }}images/print.gif" onclick="window.print();"></li>
        <li><a href="#">Welcome back {{ request.user }}</a></li>
        <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
        <li><a href="{% url 'rapidsms_logout' %}">Logout</a></li>
    </ul>
{% endblock dashboard_navigation %}
