{% extends "dashboard/fadama/base.html" %}
{% load url from future %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
    if (!window.console) {
        window.console = {
            log: function () { }
        };
    }

    $(document).ready(function() {
        main_dashboard_init();
    });

    DETAIL_URL = '{% url 'fadama_reports' %}';

    function main_dashboard_init() {
        var model = new DashboardViewModel();
        ko.applyBindings(model);

        dashboard_ajax(model, "/dashboard/fadama/api/main");
    }
</script>
{% endblock javascripts %}

{% block content %}
    {{ block.super }}

    <div class="row-fluid">
        <div class="span4">
            <h2>Feedback by FCA</h2>
            <p>
                {% include "dashboard/_map.html" %}
            </p>
        </div>

        <div class="span4">
            <h2>Feedback by category</h2>
            <p>
                {% include "dashboard/_bar_chart.html" with dashboard="fadama" %}
            </p>
        </div>

        <div class="span4">
            <h2>
              <span data-bind="if: active_month()">
                <span data-bind="if: active_month().total()">Based on <span data-bind="text: active_month().total()"></span> reports</span>
                <span data-bind="ifnot: active_month().total()">No reports this month</span>
              </span>
            </h2>
            <p>
                {% include "dashboard/_pie_chart.html" %}
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            {% load alerts_tags %}
            {% notifications request %}
        </div>
    </div>
{% endblock content %}
