{% extends "dashboard/fadama/base.html" %}

{% load url from future %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
    if (!window.console) {
        window.console = {
            log: function () { }
        };
    }

    LOGS = {{ logs|safe }};

    FC_PREFIX = '{{ fadama_communicator_prefix }}';
    NOTE_DELETE_URL = '{% url 'fadama_del_message' %}';
    PER_CONTACT_URL_TEMPL = '';

    $(document).ready(function() {
        detail_report_init();
    });

    function detail_report_init() {
        var model = new FadamaLogsForContactModel(LOGS);
        ko.applyBindings(model);
    }
</script>
{% endblock javascripts %}

{% block content %}
    {{ block.super }}

<style>

.smslow {
  color: red;
  font-weight: bold;
}

</style>

    <div class="row-fluid">
        <div class="span12">
            <span class="large">Reports by beneficiary</span>
        </div>
	<div>The following reports have all come from the same phone number (and were <i>not</i> reported on behalf of someone else)</div>
    </div>

    {% include "dashboard/fadama/logs.html" %}

{% endblock content %}

