
    <div class="row-fluid">
        <div class="span12">
            <table id="reports-table" class="table table-bordered table-striped table-condensed"
                data-bind="visible: (active_month() ? active_month().any_logs_relevant($root) : true)">
                <thead>
                    <tr>
                        <th>Report #</th>
                        <th style="width: 12em;">FCA</th>
                        <th style="width: 12em;">FUG</th>
                        <th>Date &amp; Time</th>
                        <th>Beneficiary Satisfied</th>
                        <th>Feedback Category</th>
                        <th>Sub-category</th>
                        <th>Free-form message</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: active_month() ? active_month().logs() : []">
                    <tr data-bind="visible: is_relevant($root), click: toggle">
                        <td style="white-space: nowrap;">
                            <div style="float: right;">
                                <span data-bind="visible: thread().length" style="border: 1px grey solid; font-weight: bold;">&#x22ef;</span>
                                <img data-bind="attr: { src: '{{ STATIC_URL }}images/' + (contactable() ? 'reply' : 'noreply') + '.png', title: no_contact_message }" />
                            </div>

                            <img data-bind="attr: { src: '{{ STATIC_URL }}images/' + (expanded() ? 'expanded' : 'collapsed') + '.png' }" />
                            <span data-bind="text: id"></span>&nbsp;
                        </td>
                        <td data-bind="text: site"></td>
                        <td data-bind="text: fug"></td>
                        <td style="white-space: nowrap" data-bind="text: date"></td>
                        <td data-bind="yn: satisfied, fadama_category_color: 'satisf'"></td>
                        <td data-bind="text: category_caption"></td>
                        <td data-bind="text: subcategory_caption, fadama_category_color: 'subcat'"></td>
                        <td style="width: 25em;" data-bind="text: message"></td>
                    </tr>
                    <tr data-bind="visible: is_relevant($root) && expanded()">
                        <td colspan="8">
			  <div class="alert alert-info" style="min-height: 0;" data-bind="visible: other_recent">Note: there are <a target="_blank" data-bind="attr: { href: PER_CONTACT_URL_TEMPL.replace('xxx', contact()) }"><span data-bind="text: other_recent"></span> other recent reports</a> from this beneficiary</div>

                            <div data-bind="foreach: thread">
                                <p style="margin: .5em 6em; clear: both;">
                                  <div style="float: left; width: 30em; text-align: right; margin-right: 3em; font-style: italic;">
                                    <span style="font-weight: bold;" data-bind="text: display()[0]"></span>
                                    <span data-bind="text: display()[1]"></span>
                                    <span style="font-weight: bold;" data-bind="text: display()[2]"></span>
                                    at
                                    <span style="white-space: nowrap;" data-bind="text: date"></span>
                                  </div>
                                  <span style="font-size: 120%" data-bind="text: text"></span>
				  <img src="{{ STATIC_URL }}images/delete.png" data-bind="visible: type() == 'note', click: delete_note" />
				  <img src="{{ STATIC_URL }}images/alert.png" data-bind="visible: extra().ambiguous" title="This response may be about a different report! This phone number has submitted several reports and there are multiple open inquiries, so we can't be sure which inquiry they are responding to." data-bind="visible: true" />
				  <div style="clear: both; margin-left: 35em;" data-bind="visible: tags().length">tagged: <span data-bind="text: tags().join(', ')"></span></div>
                                </p>
                            </div>
                            <hr>
                            <div style="margin-left: 15em; padding-top: 1em;">
                                <form data-bind="attr: {id: 'message-form-' + id() }" class="form-inline" method="post" action="{% url fadama_new_message %}">
                                    <label>leave a note for other <b>fadama staff</b></label>
                                    <input type="text" data-bind="value: note, valueUpdate: 'afterkeydown'" style="width: 50em" maxlength="160"></input>
                                    <button type="submit" class="btn submit" data-bind="click: new_note">Save Note</button>
				    <div style="vertical-align: top; margin-left: 4em;" data-bind="visible: note">
				      Tag other users on this note?
				      <select class="tags" multiple="yes" data-bind="foreach: $root.taggable_contacts(), selectedOptions: tagged_contacts">
					<optgroup data-bind="attr: {label: display_state}, foreach: users">
					  <option data-bind="value: id, text: name"></option>
					</optgroup>
				      </select>
				    </div>

                                    <p style="font-style: italic;">-or-</p>

                                    <label>send a message to the <b>beneficiary</b></label>
                                    <div class="input-prepend input-append">
                                        <span class="add-on" data-bind="text: prepend_text, visible: contactable"></span>
					<input type="text" style="width: 42em" data-bind="disable: !contactable(), value: _inquiry, attr: {maxlength: max_characters}, valueUpdate: 'afterkeydown'">
					<span class="add-on" data-bind="text: chars_remaining, visible: (inquiry() || '').length > 0, css: { smslow: chars_remaining() <= 10 }"></span>
                                    </div>
                                    <button type="submit" class="btn submit" data-bind="disable: !contactable(), click: send_message">Send</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="font-style: italic; margin-top: 1.5em; margin-left: 4em;" data-bind="visible: !(active_month() ? active_month().any_logs_relevant($root) : true)">
                There are no reports matching the current filters and time period
            </div>
        </div>
    </div>
