{% extends "dashboard/fadama/base.html" %}

{% load url from future %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript">
    if (!window.console) {
        window.console = {
            log: function () { }
        };
    }

    FC_PREFIX = '{{ fadama_communicator_prefix }}';
    NOTE_DELETE_URL = '{% url 'fadama_del_message' %}';

    $(document).ready(function() {
        detail_report_init();
    });

    charts_init = false;

    function detail_report_init() {
        var model = new FadamaDetailViewModel();
        ko.applyBindings(model);

        google.setOnLoadCallback(function() {
            model.active_month(model.active_month());
            charts_init = true;
        });
    }
</script>
{% endblock javascripts %}

{% block content %}
    {{ block.super }}

<style>

.smslow {
  color: red;
  font-weight: bold;
}

</style>

    <div class="row-fluid">
        <table class="date-control" style="float: right;">
            <tr>
                <td style="width: 4em; vertical-align: top; text-align: left;">
                    <a href="#" data-bind="click: prevmonth, style: { color: monthly().indexOf(active_month()) == 0 ? '#888' : '' }">Prev</a>
                  </td>
                  <td class="month" style="width: 8em; vertical-align: top; text-align: center;">
                    <p data-bind="text: active_month() ? active_month().month_label() : ''"></p>
                  </td>
                  <td style="width: 4em; vertical-align: top; text-align: right;">
                    <a href="#" data-bind="click: nextmonth, style: { color: monthly().indexOf(active_month()) == monthly().length - 1 ? '#888' : '' }">Next</a>
                </td>
            </tr>
        </table>

        <div class="span8">
            <form id="detail-filter" class="form-inline filter-form">
                <label>Feedback on</label>
                <select data-bind="value: active_metric">
                    <option value="all">All Categories</option>
                    <option value="satisf">Overall Satisfaction</option>
                    <option value="serviceprovider">Service Providers</option>
                    <option value="people">Stakeholders</option>
                    <option value="land">Land Issues</option>
                    <option value="info">Lack of Information</option>
                    <option value="ldp">LDP Approval</option>
                    <option value="financial">Financial Issues</option>
                </select>
                <label>in</label>
                <select data-bind="options: facilities, value: active_facility, optionsText: 'name'" id="location"></select>
            </form>
        </div>
    </div>

    <div id="summary">
        <div class="row-fluid" data-bind="visible: active_metric() != 'all'">
            <div class="span8">
                <h3>Reports by Month</h3>
                <p>
                    <div id="multi-month-chart" data-bind="fadama_historical_chart: active_month" class="chart"></div>
                </p>
            </div>
            <div class="span4">
                <h3>Beneficiaries reported&hellip;</h3>
                <p>
                    <div id="multi-month-chart" data-bind="fadama_current_chart: active_month" class="chart"></div>
                </p>
            </div>
        </div>

        <div class="row-fluid" data-bind="visible: active_metric() == 'all'">
            <div class="span12">
                {% include "dashboard/_map.html" %}
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <span class="large">Detailed Reports</span>
            <form class="form-inline filter-form" action="#">
                <label class="control-label" for="object_filter">Filter by:</label>
                <select data-bind="options: active_facility() ? active_facility().fugs : [], value: active_fug"></select>
                <select id="feedback" data-bind="options: subcategories, optionsText: 'text', value: active_subcategory"></select>
                <input type="text" id="date" class="input-mini calendar" placeholder="Date" />
                <input type="text" id="search" placeholder="Search..." />
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table id="reports-table" class="table table-bordered table-striped table-condensed"
                data-bind="visible: (active_month() ? active_month().any_logs_relevant($root) : true)">
                <thead>
                    <tr>
                        <th>Report #</th>
                        <th style="width: 12em;">FCA</th>
                        <th style="width: 12em;">FUG</th>
                        <th>Date &amp; Time</th>
                        <th>Beneficiary Satisfied</th>
                        <th>Feedback Category</th>
                        <th>Sub-category</th>
                        <th>Free-form message</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: active_month() ? active_month().logs() : []">
                    <tr data-bind="visible: is_relevant($root), click: toggle">
                        <td style="white-space: nowrap;">
                            <div style="float: right;">
                                <span data-bind="visible: thread().length" style="border: 1px grey solid; font-weight: bold;">&#x22ef;</span>
                                <img data-bind="attr: { src: '{{ STATIC_URL }}images/' + (proxy() ? 'noreply' : 'reply') + '.png', title: proxy() ? 'Not possible to message this beneficiary beacuse they reported through a proxy' : '' }" />
                            </div>
             
                            <img data-bind="attr: { src: '{{ STATIC_URL }}images/' + (expanded() ? 'expanded' : 'collapsed') + '.png' }" />
                            <span data-bind="text: id"></span>&nbsp;
                        </td>
                        <td data-bind="text: site"></td>
                        <td data-bind="text: fug"></td>
                        <td style="white-space: nowrap" data-bind="text: date"></td>
                        <td data-bind="yn: satisfied, fadama_category_color: 'satisf'"></td>
                        <td data-bind="text: category_caption"></td>
                        <td data-bind="text: subcategory_caption, fadama_category_color: 'subcat'"></td>
                        <td style="width: 25em;" data-bind="text: message"></td>
                    </tr>
                    <tr data-bind="visible: is_relevant($root) && expanded()">
                        <td colspan="8">
                            <div data-bind="foreach: thread">
                                <p style="margin: .5em 6em; clear: both;">
                                  <div style="float: left; width: 30em; text-align: right; margin-right: 3em; font-style: italic;">
                                    <span style="font-weight: bold;" data-bind="text: display()[0]"></span>
                                    <span data-bind="text: display()[1]"></span>
                                    <span style="font-weight: bold;" data-bind="text: display()[2]"></span>
                                    at
                                    <span style="white-space: nowrap;" data-bind="text: date"></span>
                                  </div>
                                  <span style="font-size: 120%" data-bind="text: text"></span>
				  <img src="{{ STATIC_URL }}images/delete.png" data-bind="visible: type() == 'note', click: delete_note" />
                                </p>
                            </div>
                            <hr>
                            <div style="margin-left: 15em; padding-top: 1em;">
                                <form id="message-form" class="form-inline" method="post" action="{% url 'fadama_new_message' %}">
                                    <label>leave a note for other <b>fadama staff</b></label>
                                    <input type="text" data-bind="value: note" style="width: 50em" maxlength="160"></input> 
                                    <button class="btn" data-bind="click: new_note">Save Note</button>

                                    <p style="font-style: italic;">-or-</p>

                                    <label>send a message to the <b>beneficiary</b></label>
                                    <div class="input-prepend input-append">
                                        <span class="add-on" data-bind="text: prepend_text, visible: !proxy()"></span>
					<input type="text" style="width: 42em" data-bind="disable: proxy, value: _inquiry, attr: {maxlength: max_characters}, valueUpdate: 'afterkeydown'">
					<span class="add-on" data-bind="text: chars_remaining, visible: (inquiry() || '').length > 0, css: { smslow: chars_remaining() <= 10 }"></span>
                                    </div>
                                    <button type="submit" class="btn" data-bind="disable: proxy, click: send_message">Send</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="font-style: italic; margin-top: 1.5em; margin-left: 4em;" data-bind="visible: !(active_month() ? active_month().any_logs_relevant($root) : true)">
                There are no reports matching the current filters and time period
            </div>
        </div>
    </div>
{% endblock content %}

