{% extends "dashboard/fadama/base.html" %}

{% block content %}
    {{ block.super }}

<script src="{{ STATIC_URL }}js/knockout-2.1.0.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>

if (!window.console) {
    window.console = {
        log: function () { }
    };
}

DEFAULT_SITE = {{ default_site|default:"null" }};
DEFAULT_METRIC = "{{ default_metric|default:"" }}";

$(document).ready(function() {
    detail_report_init();
  });

charts_init = false;
google.load('visualization', '1', { packages: ['corechart'] });

function detail_report_init() {
  var model = new FadamaDetailViewModel();
  ko.applyBindings(model);

  google.setOnLoadCallback(function() {
    model.active_month(model.active_month());
    charts_init = true;
  });
}

function FadamaDetailViewModel() {
  this.monthly = ko.observableArray();
  this.facilities = ko.observableArray();
  this.__all_clinics = new FacilityModel({id: -1, name: 'All Sites'});

  this.active_facility = ko.observable();
  this.active_metric = ko.observable(DEFAULT_METRIC || null);
  this.active_month = ko.observable();

  this.active_fug = ko.observable();
  this.active_subcategory = ko.observable();

  var model = this;

  this.subcategories = ko.computed(function() {
      var __all = {val: 'all', text: 'All Sub-categories'};

      if (!model.active_metric() || model.active_metric() == 'all' || model.active_metric() == 'satisf') {
        return [__all];
      }

      var opts = $.map(get_ordering(model.active_metric()), function(e) {
          return {val: e, text: get_caption(model.active_metric(), e)};
        });
      opts.splice(0, 0, __all);
      return opts;
    });

  this.load = function(data) {
    if (this.facilities().length == 0) {
      var facs = $.map(data.facilities, function(f) {
          return new FacilityModel(f);
        })
      facs.splice(0, 0, this.__all_clinics);
      this.facilities(facs);

      var default_facility = this.facility_by_id(DEFAULT_SITE);
      if (default_facility) {
        this.active_metric('satisf');
        this.active_facility(default_facility);
      }
    }

    var active_month_ix = (this.active_month() ? this.monthly.indexOf(this.active_month()) : -1);
    this.monthly($.map(data.monthly, function(m) {
        return new MonthlyDetailModel(m);
      }));
    this.active_month(this.monthly.slice(active_month_ix)[0]);
  };

  this.ajax_load = function(facility_id) {
    var params = facility_id != null ? {site: facility_id} : {};
    var model = this;
    $.get('/dashboard/fadama/api/detail', params, function(data) {
        console.log(params, data);
        model.load(data);
      }, 'json');
  }

  this.prevmonth = function() {
    this.month_incr(-1);
  }

  this.nextmonth = function() {
    this.month_incr(1);
  }

  this.month_incr = function(k) {
    var i = this.monthly.indexOf(this.active_month());
    i += k;
    if (i >= this.monthly().length) {
      i = this.monthly().length - 1;
    } else if (i <= 0) {
      i = 0;
    }
    this.active_month(this.monthly()[i]);
  }

  this.is_metric_active = function(code) {
    return (this.active_metric() == 'all' || this.active_metric() == code);
  }

  var model = this;
  this._facility_reload = ko.computed(function() {
      var fac = model.active_facility();
      model.ajax_load(fac != null && fac.id() != -1 ? fac.id() : null);
    });

  this.facility_by_id = function(id) {
    var f = null;
    $.each(this.facilities(), function(i, e) {
        if (id != null && e.id() == id) {
          f = e;
          return false;
        }
      });
    return f;
  }
}

function FacilityModel(data) {
  this.id = ko.observable(data.id);
  this.name = ko.observable(data.name);

  if (data.id == -1) {
    data.fugs = [];
  }
  this.__all_fugs = 'All FUGs';
  data.fugs.splice(0, 0, this.__all_fugs);
  this.fugs = ko.observable(data.fugs);
}

function MonthlyDetailModel(data) {
  this.logs = ko.observableArray($.map(data.logs, function(l) {
      return new LogModel(l);
    }));
  this.month_label = ko.observable(data.month);
  this.stats = data.stats;
  this.clinic_totals = data.clinic_totals;

  this.any_logs_relevant = function(root) {
    var relev = false;
    $.each(this.logs(), function(i, e) {
       if (e.is_relevant(root)) {
         relev = true;
         return false;
       }
      });
    return relev;
  }
}

function LogModel(data) {
  this.id = ko.observable(data.id);
  this.site = ko.observable(data.site_name);
  this.fug = ko.observable(data.fug);
  this.date = ko.observable(data.display_time);
  this.satisfied = ko.observable(data.satisfied);
  this.proxy = ko.observable(data.proxy);
  this.thread = ko.observableArray($.map(data.thread, function(c) {
      return new CommModel(c);
    }));

  this.expanded = ko.observable(false);
  this.toggle = function() {
    this.expanded(!this.expanded());
  }

  var categories = ['serviceprovider', 'people', 'land', 'info', 'ldp', 'financial'];
  var category = null;
  $.each(categories, function(i, e) {
      if (data[e] != null) {
        category = e;
        return false;
      }
    });
  
  this.category = ko.observable(category);
  this.subcategory = ko.observable(data[category]);
  this.message = ko.observable(data.message);

  var model = this;
  this.inquiry = ko.observable();
  this._inquiry = ko.computed({
        read: function () {
            return (model.proxy() ? 'it is not possible to message the beneficiary because they reported through a proxy' : model.inquiry());
        },
        write: function (value) {
            if (!model.proxy()) {
              model.inquiry(value);
            }
        },
        owner: this
    });
  this.note = ko.observable();

  this.send_message = function() {
    this.new_thread_msg('inquiry', this.inquiry());
  }

  this.new_note = function() {
    this.new_thread_msg('note', this.note());
  }

  this.new_thread_msg = function(type, content) {
    var model = this;
    $.post('/dashboard/fadama/message/', {id: this.id(), type: type, text: content, user: 'demo user'}, function(data) {
        model.thread.push(new CommModel(data));
	model[type == 'inquiry' ? 'inquiry' : 'note'](null);
        if (type == 'inquiry') {
          alert('Your message has been sent to the beneficiary (to the phone number they used to provide their feedback). You will be notified when they respond.');
        }
      });
  }

  var model = this;
  this.category_caption = ko.computed(function() {
      return {
        'serviceprovider': 'Service Providers',
        'people': 'Stakeholders',
        'land': 'Land Issues',
        'info': 'Lack of Information',
        'ldp': 'LDP Approval',
        'financial': 'Financial Issues',
      }[model.category()];
    });
  this.subcategory_caption = ko.computed(function() {
      return get_caption(model.category(), model.subcategory());
    });

  this.is_relevant = function(root) {
    return (this.category() == root.active_metric() || root.active_metric() == 'all' || root.active_metric() == 'satisf') &&
           (this.fug() == root.active_fug() || root.active_fug() == 'All FUGs') &&
           (this.subcategory() == root.active_subcategory().val || root.active_subcategory().val == 'all');
   }
}

function CommModel(data) {
  this.author = ko.observable(data.author);
  this.type = ko.observable(data.type);
  this.date = ko.observable(data.date_fmt);
  this.text = ko.observable(data.text);

  var model = this;
  this.display = ko.computed(function() {
      if (model.type() == 'note') {
	return ['note', 'left by', model.author()];
      } else if (model.type() == 'inquiry') {
	return ['message to beneficiary', 'sent by', model.author()];
      } else if (model.type() == 'response') {
	return ['response', 'from', 'beneficiary'];
      }
    });
}

ko.bindingHandlers.yn = {
  update: function(element, valueAccessor, allBindingsAccessor, viewModel) {
    var val = ko.utils.unwrapObservable(valueAccessor());

    $(element).empty();
    if (val != null) {
      var $img = $('<img />');
      $img.attr('src', '{{ STATIC_URL }}images/icon_' + (val ? 'success' : 'error') + '.gif');
      $img.attr('alt', val ? 'Yes' : 'No');
      $(element).append($img);
    }

  }
};

function get_caption(metric, value) {
  return {
    satisf: {
      True: 'Satisfied',
      False: 'Unsatisfied',
    },
    serviceprovider: {
      notfind: 'Not Finding',
      notstarted: 'Not Started',
      delay: 'Delays',
      stopped: 'Abandoned Project',
      substandard: 'Substandard Service',
      other: 'Other',
    },
    people: {
      state: 'State Officials',
      fug: 'FUG',
      fca: 'FCA',
      facilitator: 'Facilitators',
      other: 'Other',
    },
    land: {
      notfind: 'Not Finding',
      suitability: 'Not Suitable',
      ownership: 'Ownership',
      other: 'Other',
    },
    info: {
      market: 'Market',
      input: 'Input',
      credit: 'Access to Credit',
      other: 'Other',
    },
    ldp: {
      delay: 'Delays',
      other: 'Other',
    },
    financial: {
      bank: 'Bank Account Opening',
      delay: 'Delayed Funding',
      other: 'Other',
    },
  }[metric][value];
}

function get_ordering(metric) {
  return {
    satisf: ['True', 'False'],
    serviceprovider: ['notfind', 'notstarted', 'delay', 'stopped', 'substandard', 'other'],
    people: ['state', 'fug', 'fca', 'facilitator', 'other'],
    land: ['notfind', 'suitability', 'ownership', 'other'],
    info: ['market', 'input', 'credit', 'other'],
    ldp: ['delay', 'other'],
    financial: ['bank', 'delay', 'other'],
  }[metric];
}

function monthly_datapoints(month, metric) {
  var key = {
    satisf: 'satisfied',
  }[metric] || metric
  return month.stats[key];
}

ko.bindingHandlers.currentchart = {
  init: function(element, valueAccessor, allBindingsAccessor, viewModel) {
  },
  update: function(element, valueAccessor, allBindingsAccessor, viewModel) {
    var active = ko.utils.unwrapObservable(valueAccessor());
    var metric = viewModel.active_metric();
    if (!charts_init || !active || !metric || metric == 'all') {
      return;
    }

    var options = {
      vAxis: {
        textPosition: 'in'
      },
      chartArea: {
        top: 10,
        left: 0,
        width: '100%'
      },
    };

    var data = [['Category', '']];
    var raw_data = monthly_datapoints(active, metric);
    $.each(get_ordering(metric), function(i, e) {
        data.push([get_caption(metric, e), raw_data[e] || 0.]);
      });

    var chart_type = 'PieChart';

    var chart = new google.visualization[chart_type](element);
    chart.draw(google.visualization.arrayToDataTable(data), options);

    var bar_clicked = function() {
      if (chart.getSelection().length == 0) {
        return;
      }

      var opt = chart.getSelection()[0].row;
      var subcat = viewModel.subcategories()[opt + 1]; // the first is 'all', so offset by 1
      viewModel.active_subcategory(subcat);
    };
    google.visualization.events.addListener(chart, 'select', bar_clicked);
  }
};

ko.bindingHandlers.historicalchart = {
  init: function(element, valueAccessor, allBindingsAccessor, viewModel) {
  },
  update: function(element, valueAccessor, allBindingsAccessor, viewModel) {
    var active = ko.utils.unwrapObservable(valueAccessor());
    var metric = viewModel.active_metric();
    if (!charts_init || !active || !metric || metric == 'all') {
      return;
    }

    var options = {
      vAxis: {
        textPosition: 'in'
      },
      chartArea: {
        top: 10,
        left: 0,
        width: '85%'
      },
    };

    var FUZZ = 2;
    var curmonthix = viewModel.monthly.indexOf(active);
    var minmonthix = curmonthix - 2;
    var maxmonthix = curmonthix + 2;

    var labels = ['Month'];
    var raw_data = monthly_datapoints(active, metric);
    $.each(get_ordering(metric), function(i, e) {
        labels.push(get_caption(metric, e));
      });
    var data = [labels];

    for (var i = minmonthix; i <= maxmonthix; i++) {
      var row = [];
      if (i < 0 || i >= viewModel.monthly().length) {
        row.push('');
        for (var j = 1; j < labels.length; j++) {
          row.push(null);
        }
      } else {
        var m = viewModel.monthly()[i];
        var raw_data = monthly_datapoints(m, metric);
        row.push(m.month_label());
        $.each(get_ordering(metric), function(i, e) {
            row.push(raw_data[e] || 0);
          });
      }
      data.push(row);
    }

    var chart = new google.visualization.ColumnChart(element);
    chart.draw(google.visualization.arrayToDataTable(data), options);

    var bar_clicked = function() {
      if (chart.getSelection().length == 0) {
        return;
      }

      var opt = chart.getSelection()[0].column;
      var subcat = viewModel.subcategories()[opt]; // the first is 'all', so don't offset by 1
      viewModel.active_subcategory(subcat);
    };
    google.visualization.events.addListener(chart, 'select', bar_clicked);
  }
};

ko.bindingHandlers.map_volume = {
  init: function(element, valueAccessor, allBindingsAccessor, viewModel) {
    var options = {
	center: new google.maps.LatLng(9.05, 8.35),
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    element.map = new google.maps.Map(element, options);
    element.ovl = [];
  },
  update: function(element, valueAccessor, allBindingsAccessor, viewModel) {
    var active = ko.utils.unwrapObservable(valueAccessor());
    if (!active) {
      return;
    }

    $.each(element.ovl, function(i, e) {
        e.setMap(null);
      });
    element.ovl = [];

    var bounds = new google.maps.LatLngBounds();
    $.each(active.clinic_totals, function(i, e) {
        var facility = e[0];
        var volume = e[1];

        var pos = new google.maps.LatLng(facility.lat, facility.lon);
        bounds.extend(pos);

        var circleOptions = {
          strokeColor: '#DA4F49',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#DA4F49',
          fillOpacity: 0.35,
          map: element.map,
          center: pos,
          radius: 1500 * Math.sqrt(volume)
        };

        var dotOptions = {
          strokeWeight: 0,
          fillColor: '#000000',
          fillOpacity: 0.6,
          map: element.map,
          center: pos,
          radius: 400
        };

        var circle = new google.maps.Circle(circleOptions);
        var dot = new google.maps.Circle(dotOptions);
        element.ovl.push(dot);
        element.ovl.push(circle);

        var select_clinic = function() {
	    var clinic = viewModel.facility_by_id(facility.id);
            viewModel.active_metric('satisf');
            viewModel.active_facility(clinic);
          };

        var hover = function(in_) {
	  circle.setOptions({
            strokeColor: in_ ? "#ff0" : '#DA4F49',
            fillColor: in_ ? '#ff0' : '#DA4F49', 
          });
          site_name(in_ ? facility.name : null, element.map);
        };

        google.maps.event.addListener(circle, 'click', select_clinic);
        google.maps.event.addListener(dot, 'click', select_clinic);
        google.maps.event.addListener(circle, 'mouseover', function() { hover(true); });
        google.maps.event.addListener(circle, 'mouseout', function() { hover(false); });

      });
    if (!element.map.boundsSet) {
      element.map.fitBounds(bounds);
      var MAX_ZOOM = 12;
      if (element.map.getZoom() > MAX_ZOOM) {
        element.map.setZoom(MAX_ZOOM);
      }
      element.map.boundsSet = true;
    }
  }
};

function site_name(name, map) {
  if (name == null) {
    if (map.$sitename_ovl) {
      map.$sitename_ovl.remove();
      map.$sitename_ovl = null;
    }
  } else {
    if (!map.$sitename_ovl) {
      var $ovl = $('<div />');
      $ovl.css('z-index', 50000);
      $ovl.css('position', 'absolute');
      $ovl.css('bottom', 5);
      $ovl.css('left', 5);
      $ovl.addClass('sitename');
      $(map.getDiv()).append($ovl);
      map.$sitename_ovl = $ovl;
    }
    map.$sitename_ovl.text(name);
  }
}

</script>

<style>

.sitename {
  background: rgba(255, 255, 255, .7);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-style: italic;
}

</style>

    <div class="row-fluid">
      <table class="date-control" style="float: right;">
	<tr>
	  <td style="width: 4em; vertical-align: top; text-align: left;">
            <a href="#" data-bind="click: prevmonth, style: { color: monthly().indexOf(active_month()) == 0 ? '#888' : '' }">Prev</a>
	  </td>
	  <td class="month" style="width: 8em; vertical-align: top; text-align: center;">
            <p data-bind="text: active_month() ? active_month().month_label() : ''"></p>
	  </td>
	  <td style="width: 4em; vertical-align: top; text-align: right;">
            <a href="#" data-bind="click: nextmonth, style: { color: monthly().indexOf(active_month()) == monthly().length - 1 ? '#888' : '' }">Next</a>
	  </td>
	</tr>
      </table>

        <div class="span8">
            <form id="detail-filter" class="form-inline filter-form">
                <label>Feedback on</label>
                <select data-bind="value: active_metric">
                    <option value="all">All Categories</option>
                    <option value="satisf">Overall Satisfaction</option>
                    <option value="serviceprovider">Service Providers</option>
                    <option value="people">Stakeholders</option>
                    <option value="land">Land Issues</option>
                    <option value="info">Lack of Information</option>
                    <option value="ldp">LDP Approval</option>
                    <option value="financial">Financial Issues</option>
                </select>
                <label>in</label>
                <select data-bind="options: facilities, value: active_facility, optionsText: 'name'" id="location"></select>
            </form>
        </div>
    </div>

<div id="summary">
    <div class="row-fluid" data-bind="visible: active_metric() != 'all'">
        <div class="span8">
            <h3>Reports by Month</h3>
            <p>
	      <div id="multi-month-chart" data-bind="historicalchart: active_month" class="chart"></div>
            </p>
        </div>
        <div class="span4">
            <h3>Beneficiaries reported&hellip;</h3>
            <p>
	      <div id="multi-month-chart" data-bind="currentchart: active_month" class="chart"></div>
            </p>
        </div>
    </div>

    <div class="row-fluid" data-bind="visible: active_metric() == 'all'">
        <div class="span12">
	  <div id="map" data-bind="map_volume: active_month" class="map"></div>
        </div>
    </div>
</div>

    <div class="row-fluid">
        <div class="span12">
            <span class="large">Detailed Reports</span>


<form class="form-inline filter-form" action="#">
    <label class="control-label" for="object_filter">Filter by:</label>
    <select data-bind="options: active_facility() ? active_facility().fugs : [], value: active_fug"></select>
    <select id="feedback" data-bind="options: subcategories, optionsText: 'text', value: active_subcategory"></select>
    <input type="text" id="date" class="input-mini calendar" placeholder="Date" />
    <input type="text" id="search" placeholder="Search..." />
</form>


        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table id="reports-table" class="table table-bordered table-striped table-condensed"
                data-bind="visible: (active_month() ? active_month().any_logs_relevant($root) : true)">
                <thead>
                    <tr>
                        <th>Report #</th>
                        <th style="width: 12em;">FCA</th>
                        <th style="width: 12em;">FUG</th>
                        <th>Date &amp; Time</th>
                        <th>Beneficiary Satisfied</th>
			<th>Feedback Category</th>
			<th>Sub-category</th>
			<th>Free-form message</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: active_month() ? active_month().logs() : []">
                    <tr data-bind="visible: is_relevant($root), click: toggle">
                        <td>
			  <img data-bind="attr: { src: '{{ STATIC_URL }}images/' + (expanded() ? 'expanded' : 'collapsed') + '.png' }" />
			  <span data-bind="text: id"></span>
			  <span data-bind="visible: thread().length" style="border: 1px grey solid; font-weight: bold;">&#x22ef;</span>
			</td>
                        <td data-bind="text: site"></td>
                        <td data-bind="text: fug"></td>
                        <td style="white-space: nowrap" data-bind="text: date"></td>
                        <td data-bind="yn: satisfied"></td>
			<td data-bind="text: category_caption"></td>
			<td data-bind="text: subcategory_caption"></td>
			<td style="width: 25em;" data-bind="text: message"></td>
                    </tr>
                    <tr>
		      <td colspan="8" data-bind="visible: expanded">
			<div data-bind="foreach: thread">
			<p style="margin: .5em 6em; clear: both;">
			  <div style="float: left; width: 30em; text-align: right; margin-right: 3em; font-style: italic;">
			    <span style="font-weight: bold;" data-bind="text: display()[0]"></span>
			    <span data-bind="text: display()[1]"></span>
			    <span style="font-weight: bold;" data-bind="text: display()[2]"></span>
			    at
			    <span style="white-space: nowrap;" data-bind="text: date"></span>
			  </div>
			  <span style="font-size: 120%" data-bind="text: text"></span>
			</p>
			</div>
			<div style="padding-top: 1em;">
			  <p style="margin: .5em 6em; clear: both;">
			    <div style="float: left; width: 30em; text-align: right; margin-right: 3em;">
			      send a message to the beneficiary
			    </div>
			    <input data-bind="disable: proxy, value: _inquiry" style="width: 40em" maxlen="160"></input><button data-bind="disable: proxy, click: send_message">Send</button>
			  </p>
			  <p style="margin: .3em 6em; clear: both;">
			    <div style="float: left; width: 30em; text-align: right; margin-right: 3em;">
			      leave a note for other fadama staff
			    </div>
			    <input data-bind="value: note" style="width: 40em"></input><button data-bind="click: new_note">Save Note</button>
			  </p>
			</div>
		      </td>
		    </tr>
                </tbody>
            </table>
          <div style="font-style: italic; margin-top: 1.5em; margin-left: 4em;" data-bind="visible: !(active_month() ? active_month().any_logs_relevant($root) : true)">
	    There are no reports matching the current filters and time period
          </div>
        </div>
    </div>

{% endblock content %}

