{% extends "dashboard/fadama/base.html" %}

{% block content %}
    {{ block.super }}
    
    <div class="row-fluid">
        <div class="span12">
            <form id="detail-filter" class="form-inline filter-form">
                <label>Feedback on</label>
                <select id="feedback">
                    <option value="overall">Overall Experience</option>
                    <option value="personnel">Fadama Personnel</option>
                    <option value="information">Information</option>
                    <option value="providers">Service Providers</option>
                    <option value="financial-issues">Financial Issues</option>
                    <option value="land-issues">Land Issues</option>
                    <option value="approval">LDP Approval</option>
                </select>
                <label>in</label>
                <select id="location">
                    <option>Current location</option>
                    <option>Location #1</option>
                    <option>Location #2</option>
                </select>
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <h3>All Current location Reports by Month</h3>
            <p>
                {% include "dashboard/_multi_month_chart.html" %}
            </p>
        </div>
        <div class="span4">
            <h3>Experience <small>Farmers reported being...</h3>
            <p>
                {% include "dashboard/_pie_chart.html" %}
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <span class="large">Detailed Reports</span>
            {% include "dashboard/_table_filter.html" %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table id="reports-table" class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Report #</th>
                        <th>Site</th>
                        <th>Date &amp; Time</th>
                        <th>Farmer Satisfied</th>
                        <th width="40%">Free-form entries</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a data-target="741">741</td>
                        <td>Paiko FCA</td>
                        <td>05/30/2012 - 13:45</td>
                        <td><input type="checkbox" checked="checked" /></td>
                        <td>If there was a free-form entry it would be displayed here</td>
                        
                        <!-- Modal should be included for each report in table -->
                        <div data-report="741" class="span8 contact-modal">{% include "dashboard/fadama/_contact_form.html" %}</div>

                        <!-- Report info should be included for each report in table -->
                        <div data-report="741" class="span12 report-info">{% include "dashboard/fadama/_report_info.html" with report_id="741" %}</div>
                    </tr>

                    <tr>
                        <td><a data-target="741">398</a></td>
                        <td>Paiko FCA</td>
                        <td>05/30/2012 - 16:45</td>
                        <td><input type="checkbox" /></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><a data-target="741">281</a></td>
                        <td>Paiko FCA</td>
                        <td>05/31/2012 - 13:45</td>
                        <td><input type="checkbox" checked="checked" /></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}